<!DOCTYPE html>
<html lang = "en-us">
    <head>
        <meta charset ="UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content = "ie = edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class = "container">
            <div class = "jumbotron text-center">
                <h1>Mission to Mars</h1>
                <p>
                    <a class = "btn btn-primary btn-lg" href = "/scrape" role = "button">Scrape New Data</a>
                </p>
            </div>
        </div>


        <div class = "row">
            <div class = "col-md-12">
                <h2>Latest Mars News</h2>
                <h3>{{mars_data.news_title}}</h3>
                <p>{{mars_data.news_paragraph}}</p>
            </div>
        </div>
        <hr>
        <div class ="row">
            <div class = "col-md-6">
                <h2>Featured Mars Image</h2>
                <img width="100%" src="{{mars_data.featured_image}}">
            </div>
            <div class = "col-md-6">
                    <h2>Mars Facts</h2>
                    <table class = "table table-bordered table-striped">
                        <thead class = "mytable-thead">
                      <tbody class = "mytable-thead-th table-striped" {{ mars_data.mars_fact_table | safe }}></tbody>
                    </table>
            </div>
        </div>
    </div>


    <div class="row">
      <h2 style= "text-align: center;"> Mars Hemispheres</h2>
      <hr>
    </div>
    
    <br>

    <div class="row">
        <div class="mx-auto">
            <div class="col-md-3" style= "border: solid; border-width: 3px; padding: 15px; width: 24%;">
            <img width="100%" src="{{mars_data.hemisphere_image_1}}" class="img-fluid" alt= "Cerberus Hemisphere">
            <h4 style= "text-align: center;">{{mars_data.hemisphere_title_1}}</h4>
            </div>

            <div class="col-md-3" style= "border: solid; border-width: 3px; padding: 15px; width: 24%;">
            <img width="100%" src="{{mars_data.hemisphere_image_2}}" class="img-fluid" alt= "Schiaparelli Hemisphere">
            <h4 style= "text-align: center;">{{mars_data.hemisphere_title_2}}</h4>  
            </div>
            
            <div class="col-md-3" style= "border: solid; border-width: 3px; padding: 15px; width: 24%;">
            <img width="100%" src="{{mars_data.hemisphere_image_3}}" class="img-fluid" alt= "Syrtis Major Hemisphere">
            <h4 style= "text-align: center;">{{mars_data.hemisphere_title_3}}</h4>
            </div>

            <div class="col-md-3" style= "border: solid; border-width: 3px; padding: 15px; width: 24%;">
            <img width="100%" src="{{mars_data.hemisphere_image_4}}" class="img-fluid" alt= "Valles Marineris Hemisphere">
            <h4 style= "text-align: center;">{{mars_data.hemisphere_title_4}}</h4>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

    
</body>
</html>